body{
    width: 640px;
    height: 1038px;
    background-color: rosybrown;
}
.music{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    -webkit-animation: circle 2s infinite linear ;
    z-index: 999999;
}

@-webkit-keyframes circle{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(-360deg); }
}

