.music{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    -webkit-animation: circle 2s infinite linear ;
    z-index: 999999;
}
.load-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 1040px;
    background: #fff;
    z-index: 6666;
}
.loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: circle 2s infinite linear ;
}
@-webkit-keyframes circle{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(-360deg); }
}
.loadNum{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1040px;
    text-align: center;
    font-size: 50px;
    color: #999999;
}


